<table class="table table-bordered shadow-sm mt-4">
  <thead class="title">
    <tr>
      <th>温泉ID</th>
      <th>温泉名</th>
      <th>郵便番号</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody class="body">
    <% onsens.each do |onsen| %>
      <tr>
        <td><%= onsen.id %></td>
        <td>
          <%= link_to admin_onsen_path(onsen) do %>
            <%= onsen.name %>
          <% end %>
        </td>
        <td><%= onsen.postal_code %></td>
        <td><%= onsen.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>