<table class="table table-bordered text-center shadow-sm">
  <tbody>
    <tr>
      <th class="table-title">温泉名</th>
      <td class="table-body"><%= onsen.name %></td>
    </tr>
    <tr>
      <th class="title">郵便番号</th>
      <td class="body"><%= onsen.postal_code %></td>
    </tr>
    <tr>
      <th class="title">住所</th>
      <td class="body"><%= onsen.address %></td>
    </tr>
    <tr>
      <th class="title">温泉紹介</th>
      <td class="body"><%= onsen.introduction %></td>
    </tr>
    <tr>
      <th class="title">コメント件数</th>
      <td class="body"><%= onsen.comments.count %></td>
    </tr>
    <tr>
      <th class="title">平均評価</th>
      <td class="body"><%= render 'rate_average' %></td>
    </tr>
  </tbody>
</table>