<div class="container">
  <div class="row">
    <h4 class="text-center mt-3">温泉一覧</h4>
    <span>
      <%= link_to new_admin_onsen_path, class: "text-secondary ml-2" do %>
        <i class="fas fa-plus", style="background-color: #FFE4E1"></i>
      <% end %>
    </span>
  </div>
  <div class="row mt-3">
    <table class="table table-bordered col-12">
      <thead style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
        <tr>
          <th>温泉ID</th>
          <th>温泉名</th>
          <th>住所</th>
          <th>タグ</th>
        </tr>
      </thead>
      <tbody style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
        <% @onsens.each do |onsen| %>
          <tr>
            <td><%= onsen.id %></td>
            <td>
              <%= link_to admin_onsen_path(onsen) do %>
                <%= onsen.name %>
              <% end %>
            </td>
            <td><%= onsen.address %></td>
            <td><%= onsen.tag %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @items %>
</div>