<div class="container vh-100">
  <h2 class="text-center text-white shadow-sm mt-3">タグが「<%=@tag.tag_name%>」の温泉一覧</h2>
  <%= link_to new_admin_onsen_path, class: "text-dark ml-2" do %>
    <h4>
      <i class="fa-solid fa-circle-plus heart_green"></i>
      温泉新規登録
    </h4>
  <% end %>

  <!-- タグリスト -->
  <%= render 'admin/onsens/tag_list', tag_list: @tag_list %>

  <!-- 温泉リスト -->
  <%= render 'admin/onsens/index', onsens: @onsens %>

</div>
<div class="d-flex justify-content-center">
  <%= paginate @onsens %>
</div>