<div class="container">
  <h2 class="text-center text-white shadow-sm mt-3">温泉情報詳細</h2>
  <div class="row mt-5">
    <div class="col-5 pl-5">
      <div class="row">
        <%= image_tag @onsen.get_onsen_image(300,300), class: 'image' %>
      </div>

      <!-- タグ -->
      <%= render 'admin/onsens/tag', onsen_tags: @onsen_tags %>

    </div>
    <div class="col-7" >

      <!-- 温泉情報 -->
      <%= render 'admin/onsens/show', onsen: @onsen %>

      <div class="form-group mt-3 text-center">
        <%= button_to '編集する', {controller: 'onsens', action: 'edit'}, {method: :get, class: 'btn btn-success'} %>
      </div>
    </div>
  </div>
  <div id="comments_area">
    <%= render 'public/comments/comment_index', comments: @comments %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @comments %>
</div>