<div class="container">
  <h2 class="text-center">温泉情報詳細</h2>
  <div class="row mt-5">
    <div class="col-5 pl-5" >
      <%= image_tag @onsen.get_onsen_image(300,300) %>
    </div>
    <div class="col-7" >
      <table class="table table-bordered text-center shadow-sm">
        <tbody style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
          <tr>
            <th width="300", style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">温泉名</th>
            <td width="300"><%= @onsen.name %></td>
          </tr>
          <tr>
            <th style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">郵便番号</th>
            <td><%= @onsen.postal_code %></td>
          </tr>
          <tr>
            <th style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">住所</th>
            <td><%= @onsen.address %></td>
          </tr>
          <tr>
            <th style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">温泉紹介</th>
            <td><%= @onsen.introduction %></td>
          </tr>
          <tr>
            <th style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">タグ</th>
            <td>
              <% @onsen_tags.each do |tag| %>
                <%= link_to tag.tag_name, admin_search_tag_path(tag_id: tag.id) %>
                <%= "(#{tag.onsens.count})" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group mt-3 text-center">
        <%= button_to '編集する', {controller: 'onsens', action: 'edit'}, {method: :get, class: 'btn btn-success'} %>
      </div>
    </div>
  </div>
  <% @comments.each do |comment| %>
    <div class="shadow-sm rounded py-3 px-3", style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">

      <div class="row text-left">
        <div class="col-2">
          <%= image_tag comment.member.get_profile_image(100,100) %>
          <p>投稿者：<%= comment.member.name %></p>
        </div>

        <div class="col-10">
          <div class="row">
            <!--星評価表示-->
            <div class="col-3">
              評価：<%= comment.rate %>点
              <div id="star-rate-<%= comment.id %>"></div> <%# 繰り返し処理を実行してもidを一意に保てるようにcomment.idを埋め込む %>
              <script>
                $('#star-rate-<%= comment.id %>').raty({
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true, <%# 読み取り専用 %>
                  score: <%= comment.rate %> <%# 星の入力値を読み込む %>
                })
              </script>
            </div>
            <!--コメント表示-->
            <div class="col-9">
              <%= comment.comment_content %>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        投稿日：<%= comment.created_at.strftime('%Y/%m/%d') %> |
        <%= link_to onsen_comment_path(comment.onsen, comment), method: :delete, class: "btn btn-danger" do %>
          コメント削除 <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>

    <div class="pb-2"></div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate @comments %>
  </div>
</div>