<div class="container">
  <div class="row no-gutters pt-5">
    <div class="mx-auto shadow-lg",
         style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
      <div class="text-center", style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
        <h4 class="member_edit">マイページ情報編集</h4>
      </div>
      <div class="m-5">
        <%= form_with model: @member, url: my_page_update_members_path, method: :patch do |f| %>
          <div class="form-group row">
            <%= f.label :profile_image, "プロフィール画像" %>
            <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
          </div>

          <div class="form-group row">
            <%= f.label :name, "ニックネーム"%>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group row">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group row">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="text-center mb-5">
            <%= f.submit "編集内容を保存", class: "btn btn-success" %>
            <%= link_to '退会する', unsubscribe_members_path, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>