<div class="container">
  <div class="row">
    <h4 class="col-3 pt-5">タグ一覧・追加</h4>
    <div class="col-9">
      <%= form_with model: @tag, url: admin_tags_path, method: :post, local: false do |f| %>
        <div class="field form-group pt-5">
          <%= f.label :タグ %>
          <%= f.text_field :name, placeholder: "タグ名" %>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row pt-3">
    <div class="mx-auto shadow-lg">
      <table class="table table-bordered text-center">
        <thead style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
          <tr>
            <th>タグ名</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody id="tag_index", style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
          <%= render "admin/tags/index", tags: @tags %>
        </tbody>
      </table>
    </div>
  </div>
</div>