<div class="container">
  <h2 class="text-center pt-5">温泉一覧</h2>
  <table class="shadow-sm mt-3">
    <th width="150", style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)", class="text-center p-3">タグリスト</th>
    <td style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)", class="p-3">
      <% @tag_list.each do |list|%>
        <%=link_to list.tag_name, search_tag_path(tag_id: list.id) %>
        <%= "(#{list.onsens.count})" %>
      <% end %>
    </td>
  </table>
  <div class="row d-flex justify-content-center mt-3">
    <% @onsens.each do |onsen| %>
      <div class="card m-2 shadow-sm rounded", style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
        <div class="p-2">
          <%= link_to onsen_path(onsen) do %>
            <%= image_tag onsen.get_onsen_image(200,200) %>
          <% end %>
        </div>
        <div class="badge pt-3">
          <%= link_to onsen_path(onsen) do %>
            <%= onsen.name %>
          <% end %>
        </div>
        <div class="badge pb-3">
          <%= onsen.postal_code %>
          <br><%= onsen.address %>
          <br><%= link_to "#{onsen.comments.count} コメント", onsen_path(onsen.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @onsens %>
</div>
