<div class="container">
  <h4 class="text-center mt-3">温泉一覧</h4>
  <% @tag_list.each do |list|%>
    <%=link_to list.tag_name, search_tag_path(tag_id: list.id) %>
    <%= "(#{list.onsens.count})" %>
  <% end %>
  <% @onsens.each do |onsen| %>
    <div class="card">
      <%= link_to onsen_path(onsen) do %>
        <%= image_tag onsen.get_onsen_image(200,200) %>
      <% end %>
      <div class="card-body">
        <h6 class="card-title">
          <%= link_to onsen_path(onsen) do %>
            <%= onsen.name %>
          <% end %>
        </h6>
        <%= onsen.postal_code %>
        <%= onsen.address %>
        <%# map(&:name)により、onsenについた複数のタグの配列の要素1つ1つを:nameの型にする。join(', ')により、指定した文字で区切って連結する。%>
        <i class="fas fa-tag"><%= onsen.tags.map(&:tag_name).join(', ') %></i>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @onsens %>
</div>
