<div class="container">
  <h2 class="text-center">温泉情報詳細</h2>
  <div class="row mt-5">
    <div class="col-5 pl-5">
      <div class="row">
        <%= image_tag @onsen.get_onsen_image(300,300) %>
      </div>
      <div class="row pt-4">
        <table class="text-center shadow-sm">
          <thead style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
            <th width="300", class="p-2">タグ</th>
          </thead>
          <tbody style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
            <td class="p-3">
              <% @onsen_tags.each do |tag| %>
                <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
                <%= "(#{tag.onsens.count})" %>
              <% end %>
            </td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-7" >
      <table class="table table-bordered text-center shadow-sm">
        <tbody style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
          <tr>
            <td width="300", style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">温泉名</td>
            <td width="300"><%= @onsen.name %></td>
          </tr>
          <tr>
            <td style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">郵便番号</td>
            <td><%= @onsen.postal_code %></td>
          </tr>
          <tr>
            <td style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">住所</td>
            <td><%= @onsen.address %></td>
          </tr>
          <tr>
            <td style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">温泉紹介</td>
            <td><%= @onsen.introduction %></td>
          </tr>
          <tr>
            <td style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">コメント件数</td>
            <td><%= @onsen.comments.count %></td>
          </tr>
          <tr>
            <td style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">平均評価</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% if member_signed_in? %>
        <div class="new_comment">
          <%= render "public/comments/comment_form", onsen: @onsen, comment: @comment %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="comments_area">
    <%= render 'public/comments/comment_index', comments: @comments %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @comments %>
</div>