<div class="container vh-100">
  <div class="row no-gutters py-5">
    <div class="mx-auto text-center shadow-lg",
         style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
      <div style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
        <h2 class="new-title">ログイン</h2>
      </div>
      <div class="mx-5">
        <%= form_with model: @member, url: member_session_path do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field pt-3">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "ログインしたままにする" %>
            </div>
          <% end %>

          <div class="actions pt-2">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
      </div>
      <p class="pt-3"><span>--------</span> 「ゆ探歩」を初めて利用されますか？ <span>--------</span></p>
      <div class="btn btn-info mb-4">
        <%= render "public/shared/links" %>
      </div>
      <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: "btn btn-secondary text-white mb-4" %>
    </div>
  </div>
</div>